@media screen and (min-width:700px) {
    .info-wrapper{
        grid-template-areas: 
        'col1 col2';
        padding: 0rem 2rem;
    }
    .info-wrapper .col2 img{
        max-width: 36rem;
    }
    .info-wrapper .col1 p{
        font-size: 1.2rem;
    }
    /* info-end */
    .shortner-wrapper{
        height: 6rem;
        grid-template-areas: 
        'col1 col2';
        align-items: center;
        place-content: space-between;
    }
    .shortner-wrapper .col1{
        width: 48rem;
        /* width: 200%; */
    }
    .shortner-wrapper button{
        margin-top: 0rem;
        /* width: 13rem; */
        width: 100%;
        padding: 1rem 1rem;
        font-size: 2rem;
    }
    /* shortner-end */

    .short-link-container .link-container{
        width: 100%;
        flex-direction: row;
    }
    .short-link-container .link-container .original-link{
        border-bottom: none;
    }
    /* shrot-link-container end */
    .advance-wrapper {
        gap: 0rem;
    }
    .advance-wrapper .col2{
        flex-direction: row;
    }
   
    .advance-wrapper .col2 .card-1,
    .advance-wrapper .col2 .card-2,
    .advance-wrapper .col2 .card-3{
        margin: 1rem;
    }
    .advance-wrapper .col2 .card-2{
        margin-top: 7rem;
    }
    .advance-wrapper .col2 .card-3{
        margin-top: 14rem;
    }
    .advance-wrapper .col2 .card-2 .icons::before,
    .advance-wrapper .col2 .card-3 .icons::before{
        top: 7.2rem;
        left: -13rem;
        transform: rotate(90deg);
    }
    /* .advance-wrapper end */
    .footer{
        grid-template-areas:
        'logo features resources company social-icons'
        ;
    }
    .footer .social-links img{
        margin: 1rem;
    }
}

@media screen and (min-width:900px) {
    html{
        font-size: 76.5%;
    }

    .nav-bar{
        display: flex;
        position: relative;
        top: 0%;
        left: 0%;
        padding: 0rem;
        background-color: transparent;
    }
    ul{
        display: flex;
        align-items: center;
        margin-right: 12rem;
    }
    ul li{
        padding: 0rem 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer;
        color: var(--Gray);
    }
    .nav-bar .button-wrapper{
        flex-direction: row;
        padding: 0rem;
    }
    .button-wrapper .login{
        color: var(--Gray);
    }
    .button-wrapper .login,
    .button-wrapper .signup{
        padding:0rem;
        margin-bottom: 0rem;

    }
    .button-wrapper .signup{
        margin-left: 3rem;
        padding: 1rem;
    }
    .menu{
        display: none;
    }
    /* header end */
    .info-wrapper .col1{
        padding: 0rem 5.5rem;
        align-items: flex-start;
    }
    .info-wrapper .col1 p,
    .info-wrapper .col1 h1{
        text-align: start;
    }
    .shortner-wrapper button{
        margin-top: 0rem;
        /* width: 13rem; */
        width: 100%;
        padding: 1rem 1rem;
        font-size: 1.6rem;
    }
}
@media screen and (min-width:1200px) {
    html{
        font-size: 77.5%;
    }
    .info-wrapper .col1{
        padding: 0rem 9rem;
        align-items: flex-start;
    }
}